.App {
  text-align: left;
  background-color: #fafafa;
}
.App-header {
  height: 25px;
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
}

.App-header > h1{
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.App-logo {
  height: 25px;
  padding: 5px;
}

.App-intro {
  font-size: large;
}

.body {
  margin-right: 10px;
  margin-left: 10px;
  max-width: 100%;
}

.modul{
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.sidebar {
  display: none;
}

.sidebar-links {
  display: block;
  text-align: left;
  padding-left: 0.5rem;
}

.fylkelenke {
  color: black;
  text-decoration: none;
  display: block;
}

.fylkelenke:hover{
  font-weight: 600;
}

@media (min-width: 48.1em) {
  .App {
    text-align: center;
  }

  .sidebar {
    display: flex;
    margin-top: -10px;
    max-width: 250px;
    border-right: 1px solid grey;
  }
}
