.App {
  text-align: left;
  background-color: #fafafa;
}
.App-header {
  height: 25px;
  text-align: left;
}

.App-header > h1{
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
}

.App-logo {
  height: 25px;
  padding: 5px;
}

.App-intro {
  font-size: large;
}

.body {
  margin-right: 5px;
  margin-left: 5px;
}

.modul{
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

@media (min-width: 48em) {
  .App {
    text-align: center;
  }
}
