.App {
  text-align: left;
}
.App-header {
  height: 25px;
  text-align: left;
}

.App-logo {
  height: 25px;
  padding: 5px;
}

.App-intro {
  font-size: large;
}

@media (min-width: 48em) {
  .App {
    text-align: center;
  }
}
