.flertallsbarometer{
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.parti {
  padding-right: 10px;
  padding-bottom: 0;
  text-align: center;
  display: none;
}

.partiforkortelser {
  font-size: 14px;
}

.partilogo{
  height: 30px;
  display: block;
}

.partinavn {
  display: none;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0;
}

.coalition-name{
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.coalition-support {
  margin: 0;
  font-size: 2.4em;
}

.coalition-support.nydalen {
  color: #004F8B;
  float: right;
}

.left-color {
  background-color: #e4002b;
}

.right-color {
  background-color: #004F8B;
}

.coalition-support.opposisjonen {
  color: #e4002b;
  float: left;
}

.nydalen {
  float: right;
  text-align: right;
}

.opposisjonen {
  float: left;
}

.barometerhalf {
  display: inline-block;
  height: 35px;
}

.barometeret {

}

@media (min-width: 48em) {
  .flertallsbarometer {
    margin: 0 auto;
  }
  .parti {
    display: inline-block;
  }
  .partinavn {
    display: inline;
  }
  .partiforkortelser {
    display: none;
  }
  .coalition-support {
    font-size: 4.4em;
    font-weight: 900;
  }

  .coalition-name {
    margin-bottom: -5px;
  }
}
