.alternativ-wrapper {
  text-align: center;
}

.alternativ {
  #border-right: 1px solid grey;
   background-color: #e6e6e6;
   display: inline-block;
   margin: 0 auto;
   text-align: center;
   padding-bottom: 1em;
   min-width: 100%;
}

.alternativ > div {
  text-align: center;
}

.alternativ.last-alt {
  border-right: none;
}

.alternativ-name{
  font-weight: 500;
  margin-bottom: 0.5em;
}

.alternativ-support {
  font-size: 1.6em;
  margin: 0.5em auto;
}

.alternativ-percentage{
  display: inline;
  font-size: 0.5em;
  margin-top: 0;
  vertical-align: 9px;
}

.alternativrad {
  margin-bottom: 15px;
}

.koalisjonspartilogo{
  display: none;
}

.alt-logo-row {
  margin-bottom: 10px;
}

@media (min-width: 48em) {
  .alternativ {
    min-width: 180px;
  }
  .koalisjonspartilogo {
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .koalisjonspartinavn{
    display: none;
  }

  .alternativ-name{
    font-weight: 500;
    margin-bottom: 1em;
  }

  .alternativ-support{
    font-size: 2.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .alternativrad {
    margin-bottom: 25px;
  }

  .alternativ-percentage{
    font-size: 0.5em;
    vertical-align: 10px;
  }
}
