.focus__inner_circle {
  visibility: hidden;
}

.focus__outer_circle {
  visibility: hidden;
}

.react-d3-basics__voronoi_utils__focus > line {
  stroke: black;
}

.react-d3-basic__line{
  stroke-width: 2px;
}

.axis.y > g:nth-child(n) {
  opacity: 0;
}

.axis.y > g:nth-child(1) {
  opacity: 1;
}

.axis.y > g:nth-child(6) {
  opacity: 1;
}

.axis.y > g:nth-child(11) {
  opacity: 1;
}

[text-anchor="middle"] > g:nth-child(n) {
  opacity: 0;
}

[text-anchor="middle"] > g:nth-child(19) {
  opacity: 1;
}

[text-anchor="middle"] > g:nth-child(1) {
  opacity: 1;
}

[text-anchor="end"] > g:nth-child(n) {
  opacity: 0;
}

[text-anchor="end"] > g:nth-child(6) {
  opacity: 1;
}

[text-anchor="end"] > g:nth-child(11) {
  opacity: 1;
}

[text-anchor="end"] > g:nth-child(1) {
  opacity: 1;
}

.date-label {
  bottom: 15px;
  position: absolute;
}

.graph {
  position: relative;
}

.legend {
  display: none;
}

.graf-legend {
  width: 100%;
  text-align: center;
}

.legend-elems{
  text-align: center;
  display: inline-block;
}

.lelem {
  display: inline-block;
  margin-right: 10px;
}

.legend-color {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.legend-name {
  font-size: 0.9em;
  display: inline-block;
  margin: 0 auto;
}

@media (min-width: 48em){
  .legend-color {
    width: 18px;
    height: 18px;
  }
  .legend-name {
    font-size: 1em;
  }
}
